@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.formContainer{
  padding:20px;
  font-family: 'Bebas Neue', cursive;
}

label{
  color:var(--color2);
  border-radius: 5px;
  padding:5px;
  margin-left:15px;
  background:var(--color3);
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color2);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
  font-family: 'Bebas Neue', cursive;
  word-spacing: 6px;
  color:var(--color3);

}

select{
  color:var(--color1);

}

select option{
  background:var(--color1);
  color:var(--color2);
}

select option:nth-child(even){
  background:var(--color2);
  color:var(--color1);
}

input[type=submit] {
  background-color: var(--color3);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:20%;
  font-family: 'Bebas Neue', cursive;
}

input[type=submit]:hover {
  background-color: var(--color1);
}