.formContainer{
  padding:20px;
  font-family:bebas;
}

label{
  color:var(--color2);
  background:var(--color3);
  border-radius: 5px;
  padding:5px;
  margin-left:10px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color2);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  resize: vertical;
  font-family:bebas;
  word-spacing: 6px;
  color:var(--color3);

}

select{
  color:var(--color1);

}

select option{
  background:var(--color3);
  color:var(--color2);
}

select option:nth-child(even){
  background:var(--color2);
  color:var(--color3);
}

input[type=submit] {
  background-color: var(--color3);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:20%;
  font-family:bebas;
}

input[type=submit]:hover {
  background-color: #45a049;
}