:root{
    --color1:black;
    --color2:white;
    --color3:rgb(212, 52, 52);
}

body{
    background: black;
}

svg { max-width: 100%; }

.bigTitle{
    font-family:bebas;
    color:var(--color1);
    font-size:2rem;
    word-spacing:10px;
    text-align: center;
}


.header{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--color2);
    padding:10px;

}

.header h1{
    font-family:bebas;
    text-decoration: none;
    color:var(--color1);
    font-size:1rem;
    word-spacing: 20px;
    letter-spacing: 5px;
    text-align: center;
    cursor:pointer;
}

.header h1 span{
    background:var(--color1);
    color:var(--color2);
    padding:10px;
    padding-right:5px;
    border-radius: 5px;
    transition:.3s;
}

.header h1:hover span{
    color:var(--color1);
    background:var(--color2);
    transition:.3s;
}

.header h1:hover{
cursor:pointer;
}










.menu{
padding-left:20px;
padding-right:20px;
}

.menu ul{
    list-style: none;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;

    background:var(--color1);
    padding:10px;
}

.menu ul li a{
    font-family:bebas;
    text-decoration: none;
    color:var(--color2);
    font-size:1rem;
    word-spacing: 20px;
    letter-spacing: 5px;
    text-align: center;

}

.hero{
    background:var(--color3);
    padding-top:40px;
    padding-bottom:40px;

    border:var(--color3) solid 20px;
}

.hero h1{
    font-family:roboto;
    font-size:3rem;
    text-align:center;
    margin:0;
    padding:0;
    color:var(--color2);
}

.hero h2{
    font-size: 2.2rem;
    font-family:roboto;
    text-align:center;
    margin:0;
    padding:0;
    letter-spacing: 20px;;
    color:var(--color2);
    margin-left:10px;
}

.main{
    background:var(--color2);
}

.packages{
    display:flex;
    flex-flow:row wrap;
}

.package{
    flex:1 0 29%;
    font-family:bebas;
    padding:10px;
    background:var(--color2);
    margin:10px;
}

.package button{
    padding:10px;
    font-family:bebas;
    font-size:1rem;
    color:var(--color2);
    background:var(--color1);
    flex:1;

    word-spacing: 10px;
    width:100%;
}

.package p{
    padding-right:30px;
    padding-left:30px;
}

.package h1{
    background:var(--color1);
    color:var(--color2);
    padding:5px;
    text-align: left;
    word-spacing: 10px;
}

.package h2{
    color:var(--color1);
    padding:5px;
    text-align: center;
}

.package p{
    text-align: justify;
    text-justify: inter-word;
    color:var(--color1);

}


.products{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    padding:20px;
    margin-bottom:20px;
}

.products object{
    flex:1 0 23%;
    padding:10px;
    box-sizing: border-box;
    margin:0 auto;
    text-align: center;
    max-width:23%;
}

.products object:hover{
    transform: scale(1.25);
    transition: 1s;
}

.products object{
    transition: 1s;

}

















.footer{
        padding:10px;
        background:var(--color1);

}

.footer ul{
    display:flex;
    flex-flow:row nowrap;
    list-style: none;
    justify-content: space-between;
    padding:0px;
    margin:0px;
}

.footer ul li{
    text-align: center;
    align-items: center;
}

.footer ul li a{
    color:var(--color2);
    text-decoration: none;
    font-family:bebas;
}


.social{
    padding:10px;
    background:var(--color1);

}

.social ul{
    display:flex;
    flex-flow:row nowrap;
    list-style: none;
    justify-content: space-between;
    padding:0px;
    margin:0px;
}

.social ul li{
    text-align: center;
    align-items: center;
}

.social ul li a{
    color:var(--color2);
    text-decoration: none;
    font-family:bebas;
}


.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.hero { grid-area: right; }
.footer { grid-area: footer; }
.social {grid-area: social; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header menu menu menu menu'
    'right right right right right right'
    'main main main main main main'
    'footer footer footer social social social';
  grid-gap: 10px;
  background-color: var(--color1);
  padding: 10px;
  max-width:1200px;
  margin:0 auto;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-areas:
          'header header header header header header'
          'menu menu menu menu menu menu'
          'right right right right right right'
          'main main main main main main'
          'footer footer footer footer footer footer'
          'social social social social social social';
      }

      .products object{
        flex:1 0 30%;
        padding:10px;
        box-sizing: border-box;
        margin:0 auto;
        text-align: center;
        max-width:30%;
    }

    
.package{
flex:1 1 100%;
}

  }
